@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24+Charted&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24+Charted&family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.containerflex1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    align-content: center;
}
.containerflex1 img {
    width: 700px;
    height: 60%;
    border-radius: 5px;
    margin-left: auto; /* Добавлено */
    margin-right: 150px;
    margin-top: 100px;
}
.aboutRoom{
    color: black;
    font-size: 46px;
    margin-left: auto;
    font-family: "Jacquard 12", system-ui;
    font-weight: 600;
    font-style: normal;
    margin-right: 350px;
}
.containerflex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 800px;
    height: auto;
    margin-left: 100px;
    font-size: 70px;
    color: black;
    position: absolute;
    font-family: "Jacquard 12", system-ui;
    font-weight: 600;
    font-style: normal;
    margin-top: 75px;

}
.containerflex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1600px;
    background-color: dimgray;
    border-radius:0 0 10px 10px;
    align-items: center;
}
.tattoo1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1500px;
    height: auto;
    flex-wrap: wrap;
    gap: 150px;
}
.tattoo1 img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.textTattoo{
    color: black;
    font-size: 45px;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-right: 10px;
}
.tattoo2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    align-content: center;
    margin-top: -50px;
    margin-left: 200px;
}
.tattoo2 img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.title{
    color: black;
    font-size: 75px;
    font-family: "Jacquard 12", system-ui;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.containerflex4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15px;
    background: linear-gradient(to top, dimgray 45%, transparent);
}
.alert{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    color: black;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 350px;
    text-align: center;
    margin-left: 100px;
}
.alert button{
    background-color: #2e2e2e; /* Темный фон */
    color: #e6e6e6; /* Светлый текст */
    border: 2px solid #1c1c1c; /* Темная граница */
    font-size: 25px; /* Размер шрифта */
    padding: 10px 20px; /* Внутренние отступы */
    text-transform: uppercase; /* Заглавные буквы */
    letter-spacing: 2px; /* Расстояние между буквами */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Тень для объема */
    cursor: pointer; /* Курсор указатель */
    transition: all 0.3s ease; /* Плавные переходы */
    border-radius: 5px;
    width: 200px;
    height: auto;
    margin-top: 5px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.gothic-button:hover {
    background-color: #1c1c1c; /* Изменение фона при наведении */
    color: #ffffff; /* Изменение цвета текста при наведении */
    border-color: #000000; /* Изменение цвета границы при наведении */
}

.gothic-button:active {
    background-color: #0f0f0f; /* Изменение фона при нажатии */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Изменение тени при нажатии */
    transform: translateY(2px); /* Смещение при нажатии */
}
.discount{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    margin-top: 3px;
}
.text{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}
dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 900px;
    height: 570px;
    width: 80%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.appointment{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
}
.appointment textarea{
    width: 250px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    resize: none; /* Запрещает изменение размера */
    overflow: auto;
    resize: none;
    padding: 10px;
}
.textAr{
    margin-top: 10px;
}
.closeopen {
    display: flex;
    justify-content: space-between; /* Распределение по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    width: 900px;
    margin-top: 130px;
}
.copy{
    display: flex;
    width: 1600px;
    justify-content: center;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-top: 100px;
}
.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width:300px;
    height: auto;
}
.photo img{
    width: 300px;
    height: 240px;
    border-radius: 5px;
    margin-top: -10px;
}
.aboutInfo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        width: 550px;
        height: auto;
        right: 0;
    margin-top: -10px;
}
.textTattoo1{
    color: black;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-right: 10px;
}
.textTattoo1 button{
        background-color: #2e2e2e;
        color: #e6e6e6;
        border: 2px solid #1c1c1c;
        font-size: 30px;
        padding: 10px 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-family: "Jaro", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        position: absolute;
}
.question{
    text-align: center;
    margin-left: 5px;
    position: relative;
}
.textTattooBut button{
    background-color: #2e2e2e;
    color: #e6e6e6;
    border: 2px solid #1c1c1c;
    font-size: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5%;
    width: 150px;
    height: auto;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    justify-content: left; /* Распределение по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    margin-top: 180px;
    text-align: center;
    margin-left: -420px;
}
.ref{
    color: lightslategray;
}
.examples{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex: 1;
    width: 1000px;
    height: 600px;
}
.imag{
    width: 350px;
    height: 280px;
    border-radius: 5px;
    margin-top: -250px;
}
.imag img{
    margin-left: 300px;
}
.imag1{
     width: 350px;
     height: 280px;
     border-radius: 5px;
     margin-right: -500px;
     position: relative;
    margin-top: -100px;
 }
.imag1 img{
    margin-top: 10px;
    margin-left: 100px;
}
.imag2{
    width: 350px;
    height: 280px;
    border-radius: 5px;
    margin-left: -100px;
    position: relative;
    margin-top: -75px;

}
.imag2 img{

}
.description{
        display: flex;
        flex-direction: column;
    width: 400px;

}
.description textarea{
    width: 350px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    resize: none; /* Запрещает изменение размера */
    overflow: auto;
}
.tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
